<!DOCTYPE html>
<html>
<head>
    <title>Neuer Kalendereintrag</title>
</head>
<body>
    <p>Hallo,</p>
    <p>der Benutzer <b>{{ creator.username }}</b> hat einen neuen Termin zur Genehmigung eingereicht:</p>
    <ul>
        <li><b>Titel:</b> {{ event.title }}</li>
        <li><b>Start:</b> {{ event.start.strftime('%d.%m.%Y um %H:%M Uhr') }}</li>
    </ul>
    <p>Bitte prüfen Sie den Termin im Kalender des Stundentools.</p>
    <p>Mit freundlichen Grüßen,<br>Dein Stundentool</p>
</body>
</html>
